html, body{
    width: 100%;
}
body {
    background-color: rgb(255,255,255); /* the alpha at 0.9 produces a very appealing color for my eyes */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

ul{
    list-style: none;
}

img.test-image{
    max-width: 9%;
    height: auto;
}

