<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guessing Game | Chukwudi Ikem</title>
        <link href="/css/guessinggame.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header class="title-of-game-wrapper">
            <h1>Guessing Game by Chukwudi Ikem</h1>
            <div class="gameplay-area">
                <div class="gameplay-title">
                    <h3>Previous Guesses</h3>
                    
                    <p><strong>Status: </strong>One Guess Remaining, you are close!</p>
                </div>
                <div class="main-content-of-game">
                    <input placeholder="enter a guess!"></input>
                    <input type="submit" value="Submit Guess" name="submit-button"></input>
                    <input type="submit" value="Play Again" name="submit-button"></input>
                    <input type="submit" value="Hint" name="submit-button"></input>
                </div>
            </div>
        </header>
        
    </body>
</html>