<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guessing Game | Chukwudi Ikem</title>
        <link href="/css/guessinggame.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header class="title-of-game-wrapper">
            <h1>Simple Guessing Game by Chukwudi Ikem</h1>
            <div class="gameplay-area">
                <div id="gameplay-title">
                    <h3>Previous Guesse<h2>-</h2></h3>
                    
                    <p><strong>Status: </strong>Submit a Guess, you have five tries!</p>
                </div>
                <div class="main-content-of-game">
                    <input placeholder="enter a guess!"></input>
                    <button id="submit-guess-btn">Submit Guess</button>
                    <button id="play-again-btn">Play Again</button>
                    <button id="hint-button">Hint</button>
                </div>
            </div>
        </header>
        <script src="../scripts/guessinggame.js"></script>
    </body>
</html>