<!DOCTYPE html>
<html>
  <head>
    <title>Pixelate</title>
    <!-- This gets us our fun 8-bit font from Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />

    <!-- loads our own CSS file -->
    <link rel="stylesheet" href="/css/pixelate.css" />
  </head>
  <body>
    <h1>Pixelate</h1>
    <div>
      <button id="add-row">Add a row</button>
      <select>
        <!-- add options here! -->
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blanchedalmond">Blanched Almond</option>
        <option value="salmon">Salmon</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
      </select>
      <button id="fill-color">Fill</button>
      <button id="clear-color">Clear</button>
    </div>
    <table></table>
  </body>
  <!-- loads our JavaScript file -->
  <script type="text/javascript" src="/scripts/scriptforpixelate.js"></script>
</html>
