<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume | Chukwudi Ikem</title>
    <link href="/css/resumestyle.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <header> <!-- flex the header as a container for list items. width is 100%. set by the body -->
        <nav class="container">
            <ul class="nav-list">
                <li>
                    <a href="https://github.com/Super-Rogatory" target="_blank"><img src="/images/githublogo.png" class="test-image"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/chukwudi-ikem-a6825319a/" target="_blank"><img src="/images/linkedin.png" class="test-image"></a>
                </li>
            </ul>  
        </nav>
        <!-- have not populated yet. -->
        <div class="title-container">
            <span class="portfolio-title">Resume</span>
        </div>
    </header>
    <section class="body-wrapper-container">
        <!-- populated the flex container with two nested flex containers. -->
        <div class="menu-picture-wrapper-container">
            <!-- need to fix references. -->
            <nav class="vertical-menu">
                <a href="../index.html" class="active">Home</a> <!--NEED SCRIPT. NEXT WEEKEND. -->
                <a href="#" class="active">Resume</a>
                <a href="projects.html">Projects</a>
                <a href="blogs.html">Blogs</a>
                <a href="aboutme.html">About Me</a>
            </nav>

        </div>
    </section>
</body>
</html>